/*
Author: Dalton Lee
Created: December 1, at 8:00 PM
Description: This assignment ties in all of what we learned throughout GUI 1 this semester.
The goal is to program a website using html, css, js (with jQuery UI for drag and drop mechanics)
that allows users to play "mini scrabble". The final product is one line, with two bonus squares, off a scrabble board
with a rack underneath holding seven letter tiles that can be dragged and dropped onto the board squares.
The program checks word is real (extra credit), has two letters and no gaps before allowing submission of a word.
There is 100 tiles total to be drawn per game, games can be reset, a highscore across all games is tracked,
bonus tiles properly handle score multipliers/additions upon display and submission and the current word is
displayed to the user and gets updated as tiles are added/removed from the board.

File: style.css
GUI Assignment: Implementing a Bit of Scrabble with Drag-and-Drop
Dalton Lee, UMass Lowell Computer Science Student, dalton_lee@student.uml.edu
Copyright (c) 2021 by Dalton. All rights reserved. May be freely copied or
excerpted for educational purposes with credit to the author.
updated by Dalton Lee on December 19, at 4:00 PM
*/

/* background color for webpage */
body {
    background-color: rgba(40, 86, 48, 0.621);
    margin: 0px;
    font-family: Verdana, sans-serif;
}

/* Make div that contains 3 subdivs have a nice background centered in middle of page body */
#mainSect {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 780px;
    background-color: rgb(240, 240, 240);
    border: 4mm ridge rgba(211, 220, 50, .6);
    padding: 1em;
    height: 740px;
}

#mainSect h1 {
    padding-bottom: 0.5em;
    border-bottom: 3px solid rgb(79, 0, 170);
}

/* Style the divs in the info div to be inline with eachother and wide enough for each */
#infoDiv div {
    display: inline-block;
    margin-bottom: 0.5em;
}
#infoDiv #score {
    width: 6em;
    text-align:left;
    color: rgb(9, 114, 0);
}
#infoDiv #high_score {
    width: 4em;
    text-align:left;
    font-weight: bold;
    color: rgb(156, 154, 0);
}
#infoDiv #word {
    width: 7em;
    text-align:left;
    color: rgb(0, 165, 55);
}
#infoDiv #remaining_tiles {
    width: 3em;
    text-align:left;
    color: rgb(79, 0, 170);
}

/* Keep all 3 main sub divs used in html file centered and stacked on top of eachother */
.boardDiv {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0 auto 0 auto;
}

.holderDiv {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0 auto 40px auto;
}

.controlDiv {
    text-align: center;
    float: left;
    width: 100%;
    margin: 20px auto 30px auto;
}

/* classes for board squares to give a little stylin to */
.boardBlank {
    border: 3px solid black;
}
.boardDoubleWord {
    border: 3px solid black;
}
.boardDoubleLetter {
    border: 3px solid black;
}

.holderImage {
    border: 3px solid rgb(240, 240, 240);
}

/* control form style */
.controlDiv h4 {
    margin-top: 0;
}

#blank_tile_text {
    width: 1em;
}

/* CSS button style #55 taken from https://getcssscan.com/css-buttons-examples */
.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-55:active {
    transform: translate3d(0, 2px, 0);
}


/* For highlighting droppables when a draggable is selected */
.highlight_nonactive {
    border: 3px solid rgb(0, 132, 255);
}
.highlight_active {
    border: 3px solid rgb(0, 255, 64);
}